@media screen and (max-width: 1200px) {
  .padding-horizontal {
    width: 100%;
    padding: 0 40px;
  }
}
@media screen and (max-width: 1024px) {
  #about {
    padding: 120px 0;
  }
  .about-grid-container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 15px 0;
  }
  .about-grid-item a {
    /* display: flex; */
    display: inline-block;
    text-align: center;
  }
  .process-grid-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .experience-grid-container {
    grid-template-columns: 1fr;
    gap: 15px 0;
  }
  .portfolio-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
  .title h1 {
    font-size: 5em;
  }
  .title span {
    font-size: 2em;
  }
  .contact-grid-container {
    grid-template-columns: 1fr;
    gap: 15px 0;
  }
}
@media screen and (max-width: 576px) {
  .title h1 {
    font-size: 3em;
  }
  .title span {
    font-size: 1.2em;
  }
  .about-grid-item p,
  .about-grid-item a {
    font-size: 1.2em;
  }
  h2 {
    font-size: 2.5em;
  }
  h3 {
    font-size: 2em;
  }
  h5 {
    font-size: 1.4em;
  }
  .process-grid-container {
    grid-template-columns: 1fr;
  }
  .work-experience p,
  .education-experience p {
    font-size: 1.2em;
  }
  .portfolio-grid-container {
    grid-template-columns: 1fr;
  }
  .portfolio-grid-item:nth-child(5) {
    grid-column: 1/2;
  }
  #testimonial {
    background: none;
  }
  .testimonial-flex-container {
    align-items: center;
    justify-content: center;
  }
  .testimonial-flex-container p {
    font-size: 1.2em;
  }
  .contact-grid-item i {
    font-size: 2em;
  }
  .nested-grid-item p,
  form input,
  form textarea {
    font-size: 1.2em;
  }
  #footer span {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 480px) {
  .title h1 {
    font-size: 2em;
  }
  .title span {
    font-size: 0.8em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.4em;
  }
  h5 {
    font-size: 1.3em;
  }
  h3 {
    letter-spacing: normal;
  }
  .about-grid-item img {
    width: 100%;
    height: 80%;
  }
  .testimonial-flex-container p {
    font-size: 1em;
  }
  .contact-grid-item i {
    font-size: 1.5em;
  }
  .nested-grid-item p,
  .nested-grid-item a,
  form input,
  form textarea {
    font-size: 1em;
  }
  #footer span {
    font-size: 1em;
  }
}
