/* fonts */
@font-face {
  font-family: Raleway-Heavy;
  src: url("/resources/fonts/Raleway-Heavy.ttf");
}
@font-face {
  font-family: Raleway-Bold;
  src: url("/resources/fonts/Raleway-Bold.ttf");
}
@font-face {
  font-family: Roboto-Regular;
  src: url("/resources/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: Roboto-Medium;
  src: url("/resources/fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: Roboto-Bold;
  src: url("/resources/fonts/Roboto-Bold.ttf");
}
/* universal selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
:root {
  --white-color: #fff;
  --button-color: #ff2b49;
}
/* body */
body {
  font-family: "Roboto-Regular";
  font-size: 10px;
  line-height: 1.4;
}
/* reusable css */
.btn {
  color: var(--white-color);
  background-color: var(--button-color);
  width: 150px;
  font-size: 1.6em;
  text-align: center;
  font-family: "Roboto-Medium";
  padding: 5px 0;
  margin-top: 50px;
}
.btn:hover {
  background: #fe3954;
}
h1 {
  font-family: "Raleway-Heavy";
  font-size: 6.5em;
  color: var(--white-color);
  text-transform: uppercase;
  letter-spacing: 5px;
}
h2 {
  font-family: "Raleway-Bold";
  font-size: 4em;
  text-transform: capitalize;
}
h3 {
  font-family: "Raleway-Bold";
  font-size: 2.6em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
h4 {
  font-family: "Roboto-Bold";
  font-size: 1.8em;
}
h5 {
  font-family: "Roboto-Bold";
  font-size: 1.8em;
  text-transform: capitalize;
  color: #4c4c4c;
}
h6 {
  font-family: "Raleway-Bold";
  font-size: 1.6em;
  text-transform: uppercase;
}
section {
  padding: 120px 0;
}
#process h5,
#portfolio h5 {
  margin: 30px 0 40px;
}
/* header section starts */
#hero {
  background: url("/resources/css/images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.padding-horizontal {
  width: 1280px;
  margin: 0 auto;
}
.hamburger-menu i {
  font-size: 32px;
  color: var(--white-color);
  border: 1px solid var(--white-color);
  padding: 5px;
}
.title {
  height: calc(100vh - 100.6px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1::before {
  content: "";
  display: block;
  height: 2px;
  background-color: var(--white-color);
}
h1::after {
  content: "";
  display: block;
  height: 2px;
  background-color: var(--white-color);
}
.title span {
  color: var(--white-color);
  font-size: 2.5em;
  letter-spacing: 1px;
  margin-top: 15px;
}
.next-section {
  position: relative;
  top: 15%;
  animation: animation 1s linear infinite alternate;
}
@keyframes animation {
  0% {
    top: 15%;
  }
  50% {
    top: 17%;
  }
  100% {
    top: 15%;
  }
}
.next-section i {
  font-size: 5em;
  color: var(--white-color);
}
/* header section ends */

/* about section starts */
#about {
  padding-bottom: 0;
  height: 100vh;
}
.about-grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0 40px;
}

.about-grid-item:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-grid-item img {
  width: 450px;
  height: 630px;
}
.about-grid-item p {
  font-size: 1.6em;
  margin-top: 3.6em;
  color: #6d6d6d;
}
/* about section ends */

/* work-process section starts */
#process {
  background-color: #f6f6f6;
  text-align: center;
}
.process-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 270px;
  gap: 0 15px;
}
.process-grid-item {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px 0;
  color: var(--white-color);
}
.process-grid-item i {
  font-size: 3em;
}
.process-grid-item:first-child {
  background: #0fc5fb;
}
.process-grid-item:nth-child(2) {
  background: #8359eb;
}
.process-grid-item:nth-child(3) {
  background: #002353;
}
.process-grid-item:last-child {
  background: #ff2b49;
}
/* work-process section ends */

/* work-experience section starts */
#experience {
  background: url("/resources/css/images/experience.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.experiece-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 15px;
  color: var(--white-color);
}
.experience-grid-item {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  padding: 40px 30px;
  border-radius: 5px;
}
.experience-grid-item hr {
  margin: 25px 0;
}
.experience-grid-item h3 {
  margin-bottom: 30px;
}
.work-experience span,
.education-experience span {
  display: inline-block;
  font-family: "Roboto-Medium";
  font-size: 1.6em;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 15px 0;
}
.work-experience p,
.education-experience p {
  font-size: 1.6em;
  width: 480px;
  color: #f5f5f5;
}
/* work-experience section ends */

/* portfolio section starts */
#portfolio {
  text-align: center;
}
.portfolio-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(270px, auto);
  gap: 15px;
}
.portfolio-grid-item {
 background: var(--button-color);
}
.portfolio-grid-item:first-child {
  background: url('/resources/css/images/lw-1.png') no-repeat center / cover;
}
.portfolio-grid-item:nth-child(2) {
  background: url('/resources/css/images/lw-2.png') no-repeat center / cover;
}
.portfolio-grid-item:nth-child(3) {
  background: url('/resources/css/images/lw-3.png') no-repeat center / cover;
}
.portfolio-grid-item:nth-child(4) {
  background: url('/resources/css/images/lw-4.png') no-repeat center / cover;
}
.portfolio-grid-item:nth-child(5) {
  background: url('/resources/css/images/lw-5.png') no-repeat center / cover;
  grid-column: 1/3;
}
.portfolio-grid-item:nth-child(6) {
  background: url('/resources/css/images/lw-6.png') no-repeat center / cover;
}
.portfolio-grid-item:nth-child(7) {
  background: url('/resources/css/images/lw-7.png') no-repeat center / cover;
}
/* portfolio section ends */

/* testimonial section starts */
#testimonial {
  background: url('/resources/css/images/testimonial.jpg') no-repeat top / cover;
}
.testimonial-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.testimonial-flex-container .quote-logo {
  width: 45px;
}
.testimonial-flex-container  p {
  width: 460px;
  font-size: 1.6em;
  margin: 50px 0;
}
.testimonial-flex-container .signature-logo {
  width: 120px;
  height: 60px;
  margin-bottom: 30px;
}
/* testimonial section ends */
